<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>{{project.name}} Styleguide</title>  
  <link rel="stylesheet" href="assets/css/styles.css" type="text/css" />
</head>
<body>
  
  <header>
    <h1>{{project.name}} Styleguide</h1>
    <p>{{project.version}}</p>
    <p>{{project.description}}</p>
  </header>

  <div id="wrapper">

    <nav role="main">
      <ul>
        {{#files}}
          <li><a href="#" data-file="{{file}}">{{file}}</a></li>
        {{/files}}
      </ul>
    </nav>

    <div class="styleguide">

      {{#files}}
      <div class="file">
        
        <h2 id="{{file}}">{{file}}</h2>
        
        {{#blocks}}
          <div class="block">

            <div class="description">
              <h3>{{name}}</h3>
              {{#description}}
                <p>{{description}}</p>
              {{/description}}
              {{#state}}
                <p>{{name}} - {{description}}</p>
              {{/state}}
            </div>
            
            {{#markup}}
              <div class="example">
                {{example}}
              </div>
            {{/markup}}

            {{#state}}
              <div class="example state {{class}}">
                <div class="name">{{name}}</div>
                {{#markup}}
                  {{markup}}
                {{/markup}}
              </div>
            {{/state}}

{{#markup}}
<pre class="markup">
{{markup.escaped}}
</pre>
{{/markup}}
        
        </div>
        {{/blocks}}

      </div>
      {{/files}}

    </div>

  </div>

  <footer>
  </footer>

  <script src="assets/js/scripts.js"></script>

</body>
</html>