* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

    
    body { 
        margin: 0; 
        padding: 0; 
        color: #333; 
        font-size: 16px;
        line-height: 24px;
    }

    a, a:hover, a:active, a:visited {
        color: #888;
        text-decoration: none;
        border-bottom: 1px solid #efefef;
        padding-bottom: 3px;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
    }

    a:hover {
        border-bottom: 3px solid #ccc;
        color: #000;
    }

    header {
        width: 100%;
        background: #efefef;
        padding: 60px 8% 40px;
        border-bottom: 1px solid #ccc;
    }

        header h1 {
            line-height: 100%;
            font-size: 48px;
            margin: 0 0 5px 0;
            padding: 0;
            float: left;
        }

        header .version {
            float: left;
            display: inline-block;
            color: #999;
            font-size: 12px;
            margin: 0;
        }

        header .description {
            font-size: 16px;
            color: #999;
            clear: left;
        }

    #wrapper {
        padding: 40px 8%;
    }

        #wrapper nav {
            border-bottom: 1px solid #efefef;
            padding-bottom: 40px;
            margin: 0;
            font-size: 14px;
        }

            #wrapper nav ul {
                margin: 0;
                padding: 0;
            }

                #wrapper nav ul li {
                    list-style: disc;
                    margin: 0 0 5px 25px;
                    padding: 0;
                }

        #wrapper .file {
            border-bottom: 1px solid #efefef;
            padding: 0 0 30px 0;
            margin: 0;
        }

            #wrapper .file h3 {
                margin: 0 0 30px 0;
                padding-top: 30px;
                font-size: 24px;
            }

        #wrapper .block {
            border: 1px solid #ccc;
            margin: 0 0 20px 0;
        }

        #wrapper .info {
            padding: 30px 40px 20px;
            background: #efefef;
            border-bottom: 1px solid #ccc;        
        }

            #wrapper .info h4 {
                font-size: 18px;
                margin: 0;
            }

            #wrapper .info .description {
                font-size: 14px;
                font-style: italic;
            }

            #wrapper .info .state {
                font-size: 12px;
                margin: 0;
                padding: 0;
            }

                #wrapper .info .state span {
                    font-weight: bold;
                    font-family: Consolas, "Liberation Mono", Courier, monospace;
                }

        #wrapper .example {   
            padding: 20px;
            min-height: 60px;
            display: block;
            font-size: 13px; 
            position: relative;
            border-bottom: 1px solid #ccc;
        }

        #wrapper .state {

        }
            
            #wrapper .state .name {   
                position: absolute;
                right: 0;
                top: 0;
                border: 1px solid #efefef;
                font-size: 10px;
                padding: 10px;
            }

        #wrapper .markup {
            margin: 0;
            padding: 24px 20px 20px;
            font-size: 13px;
            font-family: Consolas, "Liberation Mono", Courier, monospace;
            background: #efefef;
        }

    footer {

    }